@model IEnumerable<GarageApp.Models.CarModel>

@{
    ViewBag.Title = "Index2";
}

<h2>GarageApp</h2>

<h4> Se kostnad för specifik period:</h4>
@using (Html.BeginForm())
{

    <input type="datetime-local" value="2018-02-16T07:00" name="IN" min="2018-02-16T07:00" required>
    <input type="datetime-local" value="2020-01-01T00:00" name="OUT" required>
    <input type="submit" value="Submit" class="btn btn-default" />
}
<br />

@if (ViewBag.totalPrice != null)
{
    
    <div class="alert alert-danger">
        Tidsperiod: @ViewBag.IN till @ViewBag.OUT
        <br />
        Sammanlagd inkomst för tidsperioden: @ViewBag.totalPrice kr
    </div>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.In)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeSpan)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.In)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Out)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeSpan)
                </td>

            </tr>
        }
    }

</table>

<div class="alert alert-danger">
    Antal poster:@Model.Count()
</div>